@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>
    Just Another Exchange Rates Plotter
</h3>

<p>
    You give it a date range and a currency -- it plots you
    exchange rates.
</p><p>
    For additional information see the README file.
</p>
