@model SampleMVCSolution.Models.Exchange

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exchange</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rate) of @Html.DisplayFor(model => model.CurrencyCode) to USD
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
